numpy==2.2.6
opencv_contrib_python==4.11.0.86
opencv_python==4.10.0.84
psutil==6.1.0
pyserial==3.5
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
serial_communicator==1.0.0
spinnaker-python==4.2.0.83
Pillow==9.2.0
